.flipdown {
  overflow: visible;
  width: 510px;
}

.flipdown .rotor-group {
  overflow: visible;
  position: relative;
  float: left;
  padding-right: 30px;
}

.flipdown .rotor-group .rotor-group-heading {
  height: 30px;
  text-align: center;
  margin-bottom: 0px;
  color: black;
}

.flipdown .rotor-group .rotor-group-heading:before {
  content: 'Days';
  width: 135px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.flipdown .rotor-group:nth-child(1) .rotor-group-heading:before {
  content: 'Days';
}

.flipdown .rotor-group:nth-child(2) .rotor-group-heading:before {
  content: 'Hours';
}

.flipdown .rotor-group:nth-child(3) .rotor-group-heading:before {
  content: 'Minutes';
}

.flipdown .rotor-group:nth-child(4) .rotor-group-heading:before {
  content: 'Seconds';
}

.flipdown .rotor-group:last-child {
  padding-right: 0;
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
  position: absolute;
  bottom: 20px;
  left: 115px;
  content: '';
  border-radius: 50%;
  background-color: #151515;
  width: 10px;
  height: 10px;
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  position: absolute;
  bottom: 50px;
  left: 115px;
  content: '';
  border-radius: 50%;
  background-color: #151515;
  width: 10px;
  height: 10px;
}

.flipdown .rotor-group .rotor {
  position: relative;
  float: left;
  width: 50px;
  height: 80px;
  margin: 0px 5px 0px 0px;
  border-radius: 4px;
  background-color: #151515;
  perspective: 200px;
  font-size: 4em;
  text-align: center;
  color: white;
}

.flipdown .rotor-group .rotor:last-child {
  margin-right: 0;
}

.flipdown .rotor-top, .flipdown .rotor-bottom {
  position: absolute;
  width: 50px;
  height: 40px;
  overflow: hidden;
}

.flipdown .rotor-leaf {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 80px;
  transform-style: preserve-3d;
  transition: transform 0s;
}

.flipdown .rotor-leaf.flipped {
  transform: rotateX(-180deg);
  transition: all 0.5s ease-in-out;
}

.flipdown .rotor-leaf-front, .flipdown .rotor-leaf-rear {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  width: 50px;
  height: 40px;
  overflow: hidden;
  margin: 0;
}

.flipdown .rotor-leaf-front {
  background-color: #151515;
  border-radius: 4px 4px 0px 0px;
  line-height: 80px;
}

.flipdown .rotor-leaf-rear {
  background-color: #202020;
  transform: rotateX(-180deg);
  border-radius: 0px 0px 4px 4px;
  line-height: 0px;
  transition: background-color 0.5s;
  color: #E0E0E0;
}

.flipdown .rotor-leaf.flipped .rotor-leaf-rear {
  background-color: #202020;
  color: #EFEFEF;
  transition: background-color 0.5s;
}

.flipdown .rotor-top {
  line-height: 80px;
  background-color: #151515;
  border-radius: 4px 4px 0px 0px;
}

.flipdown .rotor-bottom {
  bottom: 0;
  line-height: 0px;
  background-color: #202020;
  color: #EFEFEF;
  border-radius: 0px 0px 4px 4px;
}

.flipdown .rotor:after {
  content: '';
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50px;
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  border-top: solid 1px #151515;
}
