.example {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 510px;
  height: 200px;;
  margin: auto;
}

.example .flipdown {
  font-family: sans-serif;
  font-weight: bold;
}

.example h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  margin-top: 0;
}
